/*
Colors:
  #373733 (Jet)
  #334E58 (Dark Slate Blue)
  #E8E9F3 (Glitter)
  #f0f0ee (Isabelline)
Text
  Body: Roboto, Jet, size 15px
  Navbar and heading: Alegreya, uppercase

Fonts color and line height for body*/
body {
  font: 400 15px Roboto, sans-serif;
  line-height: 1.8;
  color: #373733;
}

/*class to center a div*/
.col-centered {
  float: none;
  margin: 0 auto;
}

/*removes gutters from columns and rows*/
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;

  > .col,
  > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

/*styles for navbar*/
.navbar {
  margin-bottom: 0;
  background-color: #334e58;
  z-index: 9999;
  border: 0;
  font-size: 15px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: 'Alegreya', serif;
  text-transform: uppercase;
}

.navbar li a,
.navbar .navbar-brand {
  color: #e8e9f3 !important;
}

/*navbar button changes color on hover*/
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #e8e9f3 !important;
  background-color: #102c37 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #e8e9f3 !important;
}

/*styles for jumbotron*/
.jumbotron {
  background-color: #334e58; /* dark slate blue */
  color: #e8e9f3; /* glitter */
  padding: 100px 25px 50px 25px;
  font-family: 'Alegreya', serif;
}

/*Styles for section headings*/
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #373733;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: 'Alegreya', serif;
}

/*Styles for section subheading*/
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #373733;
  font-weight: 400;
  text-transform: uppercase;
}

/*adds padding for sections*/
.section {
  padding: 60px 50px;
}

/*alternating background color for sections*/
.bg-other {
  background-color: #f0f0ee;
}

/*adds bottom margin to images*/
img {
  margin-bottom: 10px;
}

/* Color of icons*/
i {
  color: #373733;
}

/*styles for tooltips*/
.tooltip > .tooltip-inner {
  background-color: #373733;
  color: #e8e9f3;
}

/*styles cursor as pointer*/
.pointer {
  cursor: pointer;
}

/*card flip adapted from https://davidwalsh.name/css-flip*/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/*class applied by script to flip the card*/
.flip {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*sets size of card*/
.flip-container,
.front,
.back {
  height: 430px;
  margin: 20px auto;
  width: 100%;
  max-width: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: 0.6s;
  tansform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding: 10px;
  line-height: 1.8;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*sets size of card's main content*/
.portfolio-content {
  width: 100%;
  padding: 0px;
  overflow-y: auto;
}

/*sets height of image on front of card*/
.front .portfolio-content {
  height: 315px;
}

/*sets height of main content on back of card*/
.back .portfolio-content {
  height: 360px;
}

/*sets background image for each card by id*/
#point {
  background: url(images/point.png);
  background-size: cover;
}

#ramen {
  background: url(images/ramen.jpg);
  background-size: cover;
}

#cayuga {
  background: url(images/cayuga-flowers.jpg);
  background-size: cover;
}

#portal {
  background: url(images/map.png);
  background-size: cover;
}

#flagging {
  background: url(images/flagging.jpg);
}

#crwa {
  background: url(images/crwa-web.png);
  background-repeat: no-repeat;
  background-position-x: left;
}

#salesforce {
  background: url(images/salesforce.png);
  background-repeat: no-repeat;
  background-position-x: left;
}

/*Styles for footer*/
footer {
  color: #e8e9f3;
  background-color: #334e58;
  padding: 20px;
  padding: 10px 10px;
}

footer h2 {
  color: #e8e9f3;
}

/*links*/
footer a:link {
  color: #e8e9f3;
  text-decoration: none;
}

footer a:visited {
  color: #e8e9f3;
  text-decoration: none;
}

footer a:hover {
  color: #e8e9f3;
  text-decoration: underline;
}
/*icons*/
footer i {
  color: #e8e9f3;
}

.typewriter {
  height: 2em;
  position: relative;

  width: 2%;
  overflow: hidden;
  transition: width 5s ease;
}

.typewriter:hover {
  width: 40%;
}
